/* Modal Background */
.invisivel{
    display: none;
}
.bg-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}

/* Modal Caixa */
.conteudo-modal {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0, 0.2), 0.6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animetetop;
    animation-duration: 1s;
    position: relative;
}

/* Modal Header */
.head-modal {
    padding: 2px 0px;
    display: flex;
}
.head-modal h2{
    font-weight: bolder;
    margin-top: 10px;
    font-size: 2rem;
}

.head-modal .btn-close {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.head-modal .btn-close button{
    padding-top: 0;
    padding-right: 0;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
}

/* Modal Body */
.body-modal, .footer-modal {
    padding: 2px 16px;
    margin-top: 25px;
    font-size: 1.1rem;
}

/* Adiciona Animação */
@keyframes animetetop{
    from {top:-3000px; opacity: 0;}
    to {top:0px; opacity: 1;}
  }