.invisivel-excluir{
    display: none;
}

.btn-cancelar, .btn-excluir{
    border: 2px solid rgba(29, 29, 29, 0.7);
    border-radius: 0;
    width: 25%;
    padding: 9px 0;
    font-weight: bold;
}
.btn-excluir{
    margin-left: 5%;
    color: white;
    background-color: rgba(29, 29, 29, 0.97);
}
.footer-modal{
    display: flex;
    justify-content: flex-end;
}